.add {
  display: flex;
  flex-direction: row;
  font-family: "Simonetta", cursive;
}

.add__button {
  position: absolute;
  width: 45px;
  right: 50px;
  top: 0px;
}

.add__form-input {
  font-family: "Simonetta", cursive;
  width: 88vw;
  border: none;
  font-size: 24px;
  background: rgba(255, 255, 255, 0);
}

.add__form-select {
  font-family: "Simonetta", cursive;
  border: none;
  background: rgba(255, 255, 255, 0);
}

.add__form {
  display: flex;
  width: 96vw;
  justify-content: space-between;
}

.add__form-select-variant {
  background: #d3d3d3;
}

.add__form-select-variant:checked {
  font-weight: bold;
}
