body {
    background-color: #6495ed;
}

.main{
    background: url('./assets/bgi.jpg' ) no-repeat;
    background-size: 100%;
    height: 100vh; 
}

.main__content {    
    display: flex;
    width: 100vw;
    justify-content: space-around;
    
       
}

.main__add{
    background:  rgba(255, 255, 255, 0.7);
    padding: 10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}
    
::-webkit-scrollbar-thumb:hover{
    background-color:#fff;
}
    
::-webkit-scrollbar{
    width: 4px;
}

