body {
    background-color: #6495ed;
}

.main{
    background-image: url('./assets/bgi.jpg');
    height: 100vh; 
}

.main__content {    
    display: flex;
       
}

.main__add{
    background-color: #fff;
    color: #4B0082;
    padding: 10px;
    height: 30px;
    
    

    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

::-webkit-scrollbar-thumb {
    background-color:#6A5ACD;
}
    
::-webkit-scrollbar-thumb:hover{
    background-color:#4B0082;
}
    
::-webkit-scrollbar{
    width: 4px;
}

